.heroSection {
  background-color: var(--color-black);
  color: var(--color-white);
  height: 270px;
  width: 100vw;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0px 327px;
}

.content{
    padding: 58px ;
}
