/* src/components/Section.module.css */
.section {
  margin: 20px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.toggleText {
  color: var(--color-primary);
  cursor: pointer;
  text-align: right;
}
